* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f5f5f5;
    color: #333;
}

/* Header */
header {
    background: #111;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 24px;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    margin-left: 20px;
    background-color:pink;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

.hero {
    text-align: center;
    padding: 100px 20px;
    background: #222;
    color: #fff;
}

.hero span {
    color: #4fc3f7;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    background: #4fc3f7;
    color: #fff;
    padding: 12px 20px;
    border-radius: 5px;
    text-decoration: none;
}

section {
    padding: 60px 20px;
    text-align: center;
    background-color:lightblue;
}

.project-card {
    background-color: light pink;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    background: #111;
    color: #fff;
}

